---
---

  <section class="close" id="close">
    <div class="col">
      <p class="close-line">You can't go empty.<br>You only choose <em>what fills you.</em></p>
      <p>Taste → Behold → Abide</p>
    </div>
  </section>

